                <!-- v2 -->
                <!-- <div>
                  <canvas id="chartv2"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                  const datav2 = {
                    labels: [
                      'None',
                      'Low',
                      'Medium',
                      'High',
                      'Critical',
                      'N/A'
                    ],
                    datasets: [{
                      label: 'Datasetv2',
                      data: [3, 5, 6, 4, 3, 2],
                      backgroundColor: [
                        'rgb(35,35,205)',
                        'rgb(35,205,35)',
                        'rgb(205,205,35)',
                        'rgb(205,120,35)',
                        'rgb(205,35,35)',
                        'rgb(120,120,120)'
                      ],
                      hoverOffset: 4
                    }]
                  };

                  const configv2 = {
                    type: 'pie',
                    data: datav2,
                  };
                </script>
                <script>
                  const chartv2 = new Chart(
                    document.getElementById('chartv2'),
                    configv2
                  );
                </script>
                <!-- v2 -->
            </div>
            <div class="tab-pane fade" id="v3" role="tabpanel">
              <!-- v3 -->
              <div>
                <canvas id="chartv3"></canvas>
              </div>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                const datav3 = {
                  labels: [
                    'None',
                    'Low',
                    'Medium',
                    'High',
                    'Critical'
                  ],
                  datasets: [{
                    label: 'Datasetv3',
                    data: [3, 5, 6, 4, 2],
                    backgroundColor: [
                      'rgb(35,35,205)',
                      'rgb(35,205,35)',
                      'rgb(205,205,35)',
                      'rgb(205,120,35)',
                      'rgb(205,35,35)'
                    ],
                    hoverOffset: 4
                  }]
                };

                const configv3 = {
                  type: 'pie',
                  data: datav3,
                };
              </script>
              <script>
                const chartv3 = new Chart(
                  document.getElementById('chartv3'),
                  configv3
                );
              </script>
              <!-- v3 -->
            </div>
          </div> -->
          <!-- inner tabs -->