{{ define "homepage/about.html" }}
{{template "layouts/header.html" .}}

<!-- About-TIA Start -->
<div id="cursor"></div>
<div class="container-fluid">
  <div class="row align-items-center justify-content-center mt-5 mb-5">
        <h1 style="color: #23CE6B"> Meet TIA!</h1>
  </div>
  <div class="row align-items-center justify-content-center mb-5">
    <div class="col-md-8" style="padding-bottom:200px">
      <p class="mb-5 tia-desc">TIA stands for Threat Information Assistant. She is a web application that will help you identify, understand, and remidy your most critical security vulnerabilities.</p>
      <p class="tia-desc">TIA is the product of a research project housed in the Cybersecurity Education and Research (CEDAR) lab at the University of Wyoming (UW). Development on this project began in Summer 2022 and was developed by a team of UW undergraduate students. <a href="#team-anchor">Check us out below!</a> TIA blends cybersecurity and software development to create a unique research endeavor with immense potential. Future work will utilize the power of natural language processing to further enhance STIX graphs.</p>
    </div>
  </div>
</div>
<div id="team-anchor" class="container-fluid">
  <div class="row align-items-center justify-content-center mt-5 mb-5">
        <h1 style="color: #23CE6B"> Meet the Team!</h1>
  </div>
  <div class="row align-items-center justify-content-center mb-5">
        <h3> Project Lead:</h3>
  </div>

  <div class="row align-items-baseline justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div id="carouselAlicia" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/aliciathoney.jpg" class="card-img-top" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/aliciaocto.png" class="card-img-top" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselAlicia" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselAlicia" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Alicia Thoney</h5>
          <p class="card-text">Alicia is a 3rd year student at the University of Wyoming studying Computer Science. She has been with the CEDAR lab for over a year and recently decided to submit her own research proposal, TIA. Alicia is most passionate about full stack software development and hoped this niche research project would tickle other people's fancy, too. She enjoys all aspects of full stack development and can be found tinkering away at the backend one moment and designing mockups the next.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center justify-content-center m-5">
        <h3> Developers:</h3>
  </div>
  <div class="row align-items-baseline justify-content-center">
    <div class="col-md-4">
      <div class="card">
      <img src="assets/img/allyhays.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ally Hays</h5>
          <p class="card-text">Ally is a senior at the University of Wyoming studying Computer Science. She has a degree in electrical engineering, also from the University of Wyoming. She enjoys working with electronics and code, and is enjoying the creativity involved with front end development.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
      <img src="assets/img/calvinvanwormer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Calvin VanWormer</h5>
          <p class="card-text">Calvin is a University of Wyoming Junior from Aurora, Colorado. He is currently tackling an undergraduate computer science degree. He really enjoys coding, but also really enjoys the outdoors. For TIA, he has helped with some back end data scraping along with some database work as well.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-baseline justify-content-center m-5">
    <div class="col-md-4">
      <div class="card">
        <div id="carouselJenna" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/jennagoodrich.jpg" class="card-img-top" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/jennaocto.png" class="card-img-top" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselJenna" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselJenna" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Jenna Goodrich</h5>
          <p class="card-text">Jenna is a Computer Science major and senior at the University of Wyoming. She enjoys both coding and design which lend themselves to working on the front-end of TIA, creating several of the pages on this site as well as logos and animations. Jenna's interests include full stack development, video game design and development, graphic design, and artificial intelligence.  </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
      <img src="assets/img/marcwodahl.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Marc Wodahl</h5>
          <p class="card-text">Marc is a senior majoring in computer science at the University of Wyoming. This is his first summer with the CEDAR lab and he’s been enjoying it very much so far! Marc enjoys working with the frontend and the backend, although for the TIA project his responsibilities lie mostly with the backend. Outside of the CEDAR lab you can find Marc exploring the outdoors or hanging out with his dog.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
      <img src="assets/img/williamfrost.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">William Frost</h5>
          <p class="card-text">William is a University of Wyoming undergraduate from Manchester, UK. His interests include database administration and cybersecurity. As a part of TIA, William has helped create and maintain databases and worked on other elements of the backend. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row align-items-center justify-content-center m-5">
      <h3> Graduate Mentors:</h3>
</div>
<div class="row align-items-baseline justify-content-center">
  <div class="col-md-4">
    <div class="card">
    <img src="assets/img/claycarper.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Clay Carper</h5>
        <p class="card-text">Clay is a PhD student in the CEDAR Lab who has received funding from the Kraken Cryptocurrency Exchange to investigate cold wallet security assessments, cryptography, and side-channel attacks as well as the interplay between those topics.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
    <img src="assets/img/dannyradosevich.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Danny Radosevich</h5>
        <p class="card-text">Danny is a PhD student in the CEDAR lab. His research is focused on attacking continuous authentication.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
    <img src="assets/img/andeyrobins.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Andey Robins</h5>
        <p class="card-text">Andey Robins is a graduate student in the Secure Systems Collaborative. They’ve worked in numerous roles within the software engineering pipeline from mobile client developer, to full stack engineer, and even in DevOps. Their research primarily focusses on adversarial program synthesis, cyber-physical systems, and secure software engineering principles.</p>
      </div>
    </div>
  </div>
</div>
<!-- About-TIA End -->

{{template "layouts/footer.html" .}}
{{ end }}
